<%- include("partials/header"); -%>

<h1>Compose</h1>


<form class="" action="/compose" method="post">
   <div class="form-group">
     <label>Title</label>
     <input class="form-control" type="text" name="postTitle"  class = "width"></br>
     <label>Post</label>
     <textarea class="form-control" rows="9" cols="136" name="postBody" placeholder="Enter text"></textarea></br>
     <button class="btn btn-primary" type="submit" name="button" >Publish</button>
   </div>

</form>

<%- include("partials/footer"); -%>
